spring.application.name=almacen-seguridad

spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.datasource.url=jdbc:mysql://localhost:3306/almacen_seguridad
spring.datasource.username=root
spring.datasource.password=

spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true

server.port=8080

apisperu.token=
apisperu.url.ruc=https://dniruc.apisperu.com/api/v1/ruc/
apisperu.url.dni=https://dniruc.apisperu.com/api/v1/dni/

groq.api.key=
groq.api.url=https://api.groq.com/openai/v1/chat/completions

brevo.api.key=
brevo.api.url=https://api.brevo.com/v3/smtp/email
app.mail.remitente=

app.stock.umbral=10